<!-- templates/about.html -->
{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
    <header>
        <h1>About Me</h1>
    </header>

    <section>
        <!-- Your picture in the middle of the page -->
        <img src="{{ url_for('static', filename='images/myPhoto.png') }}" alt="Sathvika's Photo" class="myPhoto">

        <p>Hi! I'm Sathvika, a first-year masters student in Information Systems at the Kelley School of Business. I just graduated this past year from IU with a B.S. in Neuroscience.</p>

        <p>During this transitional phase of advancing my career, I hope to gain internship experience this coming Summer 2025 in areas relating to consulting, business analytics, and project management.</p>

        <p>In this blog, I hope to navigate you through some of my experiences and projects thus far. Feel free to connect with me further!</p>
    </section>
{% endblock %}