<!-- templates/contact.html -->
{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
    <header>
        <h1>Contact Me</h1>
    </header>

    <section>
        <h2>Connect with me on LinkedIn</h2>

        <!-- LinkedIn logo -->
        <img src="{{ url_for('static', filename='images/linkpic.jpg') }}" alt="LinkedIn Logo" style="width: 100px; height: auto;">

        <!-- Description and link -->
        <p>Click <a href="https://www.linkedin.com/in/sathvika-dobbala" target="_blank">here</a> for more information about my professional journey!</p>
    </section>
{% endblock %}