<!-- templates/projects.html -->
{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block header %}My Projects{% endblock %}

{% block content %}
<section>
    <h2>My Projects</h2>

    <!-- Create a table for the projects -->
    <table border="1" style="width: 100%; text-align: left; border-collapse: collapse;">
        <tr>
            <th>Project</th>
            <th>Description</th>
            <th>Image</th>
        </tr>

        <!-- Row for EY Case Competition -->
        <tr>
            <td>EY Case Competition</td>
            <td>A recent project I've been a part of was my team's submission for our EY Case Competition surrounding developing a technical solution for a fictional national bank's current global circumstance.</td>
            <td>
                <img src="{{ url_for('static', filename='images/slidedeckcover.png') }}" alt="EY Case Deck" style="width: 100%; max-width: 200px;">
                <p><a href="{{ url_for('static', filename='docs/EYCaseComp.pdf') }}" target="_blank">Download Slide Deck</a></p>
            </td>
        </tr>

        <!-- Row for Digital Humans Case Competition -->
        <tr>
            <td>Digital Humans Case Competition</td>
            <td>This case was aimed at pitching the benefits of implementing Digital Humans into the IU Health hospital system in the state of Indiana.</td>
            <td>
                <img src="{{ url_for('static', filename='images/slidedeckcoverr.png') }}" alt="Digital Humans Deck" style="width: 100%; max-width: 200px;">
                <p><a href="{{ url_for('static', filename='docs/DigitalHumansComp.pdf') }}" target="_blank">Download Slide Deck</a></p>
            </td>
        </tr>

    </table>

</section>
{% endblock %}

