{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block header %}My Projects{% endblock %}

{% block content %}
<section>
    <h2>EY Case Competition</h2>
    <p>A recent project I've been a part of was my team's submission for our EY Case Competition surrounding developing a technical solution for a fictional national bank's current global circumstance.</p>
    <p>During my experience with helping develop and present this solution, I learned key skills in the importance of communicating IT strategy with overall business goals, and effectively analyzing a complex case with a wide array of globalized issues and dependencies.</p>
    
    <!-- Add an image of the slide deck cover -->
    <img src="{{ url_for('static', filename='images/slidedeckcover.png') }}" alt="Slide Deck Cover" style="width: 100%; max-width: 600px; margin: 20px 0;">

    <!-- Provide a download link to the PowerPoint PDF -->
    <p>If you'd like to download the full slide deck, you can download it <a href="{{ url_for('static', filename='docs/EYCaseComp.pdf') }}" target="_blank">here</a>.</p>
</section>
{% endblock %}
