<!-- templates/projects.html -->
{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block header %}My Projects{% endblock %}

{% block content %}
<section>
    <h2>My Projects</h2>

    <!-- Create a table for the projects -->
    <table border="1" style="width: 100%; text-align: left; border-collapse: collapse;">
        <tr>
            <th>Project</th>
            <th>Description</th>
            <th>Image</th>
        </tr>

        <!-- Loop through projects fetched from the database -->
        {% for project in projects %}
        <tr>
            <td>{{ project[1] }}</td> <!-- Project Title -->
            <td>{{ project[2] }}</td> <!-- Project Description -->
            <td>
                <img src="{{ url_for('static', filename='images/' + project[3]) }}" alt="{{ project[1] }}" style="width: 100%; max-width: 200px;">
                <p><a href="{{ url_for('static', filename='docs/' + project[3]) }}" target="_blank">Download Slide Deck</a></p>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
